<dl>
<dt>会社名</dt>
<dd><!--value(f_company)--> </dd>
<dt>業種</dt>
<dd><!--value(f_business)--></dd>
<dt>従業員数</dt>
<dd><!--value(f_number)-->名</dd>
<dt>担当者様名</dt>
<dd><!--value(f_name)-->　様</dd>
<dt>住所（都道府県市町村まで）</dt>
<dd><!--value(f_address)--></dd>
<dt>ホームページのURL（あれば）</dt>
<dd><!--value(f_url)--></dd>
<dt>E-Mail</dt>
<dd><!--value(f_mail)--></dd>
<dt>何のためにビジネスをやっていますか？</dt>
<dd><!--value(f_why)--></dd>
<dt>課題としていることは何ですか？</dt>
<dd><!--value(f_what)--></dd>
<dt>現状を変える勇気はありますか？</dt>
<dd><!--value(f_change)--></dd>
<dt>目立つことや脚光を浴びることに抵抗はありませんか？</dt>
<dd><!--value(f_pop)--></dd>
<dt>備考</dt>
<dd><!--value(f_text)--></dd>
</dl>

<div id="btn-sendMail"><input id="send" type="submit" name="check" value=""><label class="btn animation opacity" for="send">送信する</label></div>

<!--hiddenForm-->