<dl>
<dt>会社名：</dt>
<dd><input type="text" name="f_company">
<!--mess(hissu,f_company)--></dd>
<dt>業種：</dt>
<dd><select name="f_business" value="" />
<option value="農業・林業・漁業">農業・林業・漁業</option>
<option value="鉱業・建設業">鉱業・建設業</option>
<option value="製造業・メーカー">製造業・メーカー</option>
<option value="電気・ガス・熱供給・水道業">電気・ガス・熱供給・水道業</option>
<option value="情報通信業・IT関連">情報通信業・IT関連</option>
<option value="運輸業">運輸業</option>
<option value="卸売・小売業">卸売・小売業</option>
<option value="金融・保険業">金融・保険業</option>
<option value="不動産業">不動産業</option>
<option value="飲食店・宿泊業">飲食店・宿泊業</option>
<option value="医療・福祉">医療・福祉</option>
<option value="教育・学習支援業">教育・学習支援業</option>
<option value="福祉サービス事業">福祉サービス事業</option>
<option value="その他">その他</option>
</select>
<!--mess(hissu,f_business)--></dd>
<dt>従業員数：</dt>
<dd><input type="text" name="f_number"> 名
<!--mess(hissu,f_number)--></dd>
<dt>担当者様名：</dt>
<dd><input type="text" name="f_name">
<!--mess(hissu,f_name)--></dd>
<dt>住所（都道府県市町村まで）：<br><span class="mini">ex.東京都渋谷区</span></dt>
<dd><input type="text" name="f_address">
<!--mess(hissu,f_address)--></dd>
<dt>ホームページのURL（あれば）：</dt>
<dd><input type="text" name="f_url" value="http://">
<!--mess(f_url)--></dd>
<dt>E-Mail：</dt>
<dd><input type="text" name="f_mail">
<!--mess(hissu,f_mail)--><!--mess(email,f_mail)--></dd>
<dt>E-Mail（確認用）：</dt>
<dd><input type="text" name="f_mail2"></dd>
<dt>何のためにビジネスをやっていますか？：</dt>
<dd><textarea  name="f_why"></textarea>
<!--mess(hissu,f_why)--></dd>
<dt>課題としていることは何ですか？：</dt>
<dd><textarea  name="f_what"></textarea>
<!--mess(hissu,f_what)--></dd>
<dt>現状を変える勇気はありますか？：</dt>
<dd><input type="radio" name="f_change" value="あまり変わりたくない"> あまり変わりたくない<br>
<input type="radio" name="f_change" value="ちょっとだけなら変わってもいい" checked> ちょっとだけなら変わってもいい<br>
<input type="radio" name="f_change" value="変わりたい"> 変わりたい<br>
<input type="radio" name="f_change" value="けっこう変わりたい"> けっこう変わりたい<br>
<input type="radio" name="f_change" value="原型がなくなるくらい変わっても前に進みたい"> 原型がなくなるくらい変わっても前に進みたい
<!--mess(hissu,f_change)--></dd>
<dt>目立つことや脚光を浴びることに抵抗はありませんか？：</dt>
<dd><input type="radio" name="f_pop" value="はい" checked> はい
<input type="radio" name="f_pop" value="いいえ"> いいえ
<!--mess(hissu,f_pop)--></dd>
<dt>備考：</dt>
<dd><textarea name="f_text"></textarea>
<!--mess(f_text)--></dd>
</dl>

<div id="btn-sendMail"><input id="send" type="button" onclick="submit();"><label class="btn animation opacity" for="send">送信する</label></div>
